.main-view {
    -fx-background-color: black;
}

.main-view * {
    -fx-text-fill: white;
    -fx-font: 16px "Serif";
}

.dict-button {
    -fx-padding: 4;
    -fx-background-color: #141414;
}

.dict-input {
    -fx-padding: 4;
    -fx-background-color: #141414;

}