.main-view * {
    -fx-font-family: "sans-serif";
    -fx-text-fill: white;
}

.main-view {
    -fx-background-color: #151515;
}

.currency-label {
    -fx-font-size: 18px;
}

.arrow-right {
    -fx-font-size: 32px;
    -fx-padding: 8px;
}

.button {
    -fx-font-size: 20px;
    -fx-padding: 4px;
    -fx-border-color: silver;
    -fx-border-width: 2px;
}
.button:hover {
    -fx-background-color: #555555;
}

.input, .select, .button {
    -fx-background-color: #333333;
}

.select .list-cell {
    -fx-background-color: #333333;
    -fx-background: transparent;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
   -fx-text-fill: white;
}

.select .list-cell:filled:selected {
    -fx-background-color: #555555;
}

.select .list-cell:filled:hover {
    -fx-background-color: #555555;
}

#error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}