.main-view * {
    -fx-font-family: "sans-serif";
    -fx-text-fill: white;
}

.main-view {
    -fx-background-color: #151515;
}

.currency-label {
    -fx-font-size: 18px;
}

.arrow-right {
    -fx-font-size: 32px;
    -fx-padding: 8px;
}

.button {
    -fx-font-size: 20px;
    -fx-padding: 4px;
    -fx-border-color: darkred;
    -fx-border-width: 2px;
    -fx-background-color: black;
}

.input, .select {
    -fx-background-color: #333333;
}

.select .list-cell {
    -fx-background: #333333;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}